/*! ROOT */
/* Stores repeatable values for future CSS. */
:root {
  --Main_Color: rgb(0, 102, 0);
  --Secondary_Color: rgb(51, 153, 51);
  --Background_Color: rgb(216, 229, 216);
}

/*! NORMALIZATION */
/* Zeroes out padding and margin. + Sets a custom font. + Adjusts hashtag scrolling for fixed header. */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-margin-top: 69px;
}

/* Fixes default colors and effects applied to links. */
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* Sets background color and forces content below fixed header. */
body {
  background-color: var(--Background_Color);
  /*! margin-top: 60px; */
}

/*! REPEATED ASSETS */
/* Creates bars for section headers and applies text adjustments. */
.sectionHead {
  background-color: var(--Main_Color);
  padding: 10px 10px 10px 15px;
  border-top: 5px solid var(--Secondary_Color);
  border-bottom: 5px solid var(--Secondary_Color);
  color: white;
  text-shadow: black 1px 1px 1px;
}

/* A parent item that centers all content within it. */
.flexContainerCenter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  padding: 30px clamp(5px, 3%, 30px) 30px clamp(5px, 3%, 30px);
}

/* A rounded card that content can be placed in. */
.card {
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  box-shadow: 1px 1px 3px var(--Main_Color);
}

.card h3 {
  font-size: 18px;
}

/* Forces the images within cards to not be too large. */
.card img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Center align */
  margin-top: 10px;
  max-height: 200px;
}

/* Changes color of text and shadow when hovering over card. */
.card:hover {
  color: var(--Secondary_Color);
  box-shadow: 4px 5px 5px var(--Main_Color);
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.unexpandedImageContainer {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unexpandedImageContainer img {
  max-width: 90%;
  max-height: 90%;
  cursor: pointer;
}

.unexpandedImageContainer img:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 4px 5px 5px var(--Main_Color);
}

.expandedImageModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.expandedImageModal img {
  max-width: 90%;
  max-height: 90%;
}

/*! HEADER */
/* Creates a fixed header */
.header {
  background-image: url(../images/green_galaxy.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 5px solid var(--Main_Color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/* Builds a horizontal flex blox seperating the logo area and the nav bar area. */
/*! .headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  height: 70px;
} */

/* Builds a horizontal flex box for the logo and the company name. */
.logo {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

/* Sets the position and size of the static logo on the header. */
.logoImage {
  width: 35px;
}

/* Sets the position and style of the static title on the header. */
.logoName {
  font-size: 30px;
  letter-spacing: 1.5px;
  transition: all 0.25s;
}

/* Displays the navItems nicely without default styles. */
.navList {
  list-style: none;
  padding: 0;
  display: flex;
  column-gap: 20px;
}

/* Sets the navLinks to a nice color and size, and allows them to shift to grey on hover nicely. */
.navLink {
  color: black;
  font-size: 16px;
  transition: all 0.5s;
}
.navLink:hover {
  color: darkgray;
}

/* Sets a "hidden" hamburger menu icon that shows as clickable. */
.hamburger {
  display: none;
  cursor: pointer;
}

/* Creates thin bars that transition nicely. */
.hamburgerBar {
  height: 2px;
  width: 27px;
  background: black;
  margin: 5px 0;
  transition: all 0.5s;
}

/*! ABOUT */
/* Allows the About Me image to be larger than all other images. */
.aboutImage {
  width: 100%;
  max-width: 750px;
}

.aboutText {
  max-width: 750px;
  text-align: center;
  margin: auto;
  padding: 0px 30px 30px 30px;
}

/*! FOOTER */
/* Creates a footer similar to the header. */
footer {
  width: 100%;
  background-image: url(../images/green_galaxy.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 20px;
  font-weight: bolder;
  text-shadow: 1px 1px 1px white;
  border-top: 5px solid var(--Main_Color);
}

/* Solves the navigation menu hitting the title on small devices. */
@media screen and (max-width: 1050px) {
  /* Adds extra classes that can be called by the javascript based on user inputs.*/
  .nav--open {
    visibility: visible !important;
    opacity: 1 !important;
    transition: all 0.5s !important;
  }

  /* Hides one and spins the other 2 hamburger bars to make an X */
  .hamburger--open .hamburgerBar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .hamburger--open .hamburgerBar:nth-child(2) {
    opacity: 0;
  }
  .hamburger--open .hamburgerBar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  /* Sets the navigation to hidden and vertical */
  .nav {
    position: fixed;
    top: 70px;
    left: 0px;
    background-color: var(--Main_Color);
    border-bottom: 5px solid var(--Secondary_Color);
    width: 100%;
    padding: 10px 0 10px;
    visibility: hidden;
    opacity: 0%;
  }
  .navList {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 0;
    color: white;
  }

  /* Shows the hamburger icon. */
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  /*! HEADER */
  /* Shrinks text on small devices so it doesn't take up too much room. */
  .logoName {
    font-size: clamp(16px, 5vw, 30px);
  }

  /*! REPEATED ASSETS */
  /* Forces there to still be 2 columns of tiles and images on small devices. */
  .sectionHead {
    font-size: 12px;
  }

  .card {
    padding: 15px;
  }

  .card h3 {
    font-size: 16px;
  }

  .card img {
    margin-top: 10px;
    max-width: 180px;
    max-height: 180px;
  }

  .unexpandedImageContainer {
    width: 125px;
    height: 125px;
  }
}
